.main_div {
    width: 400px;
    height: 700px;
    background: rgb(80, 73, 73);
    display: table;
    color: blanchedalmond;
}

.header{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    color: coral;
    text-decoration: underline;
    /* text-shadow: cyan; */
}

.desciption{
    /* width: 100%; */
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
}

.sample_header{
    margin-top: 5px;
    margin-bottom: 4px;
    width: 100%;
    font-size: 16px;
    color:rgb(247, 80, 80);
    text-align: center;
    align-items: center;
}



.image_selection_1{
    /* margin-top: 10px; */
    width: 100%;
    display: table;
    align-items: center;
}

.first_image_minor{
    /* float: left; */
    /* margin-left: 0px; */
    width: 200px ;
    height: 100px;
    /* border: 1px solid red; */
    background: url("../uploads/minor_sample.jpg");
    /* border-radius: 191px; */
    background-repeat:no-repeat;
    background-size: contain;
    /* background-size: cover; */
}

.output_container{
    width: 200px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid burlywood;
    background-color: darkcyan;
}