.main_div {
    width: 400px;
    height: 600px;
    background: black;
    display: table;
    color: blanchedalmond;
}

.header{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    color: coral;
    text-decoration: underline;
    /* text-shadow: cyan; */
}


.sample_header{
    margin-top: 12px;
    margin-bottom: 8px;
    width: 100%;
    font-size: 14px;
    color: bisque;
    text-align: center;
    align-items: center;
}



.image_selection_1{
    margin-top: 10px;
    width: 100%;
    display: table;
    align-items: center;
}

.first_image_minor{
    /* float: left; */
    /* margin-left: 0px; */
    width: 200px ;
    height: 100px;
    background: url("../uploads/minor_sample.jpg");
    /* border-radius: 191px; */
    background-repeat:no-repeat;
    background-size: contain;
    /* background-size: cover; */
}
