<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/reset.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/style.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/reset.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
  <title>Image Cartoonizing</title>
</head>

<body>
    {% extends "minor.html" %}
    {% block title %}
    <div>
        <h3 class="header">Major Project(Nepali Reader) Demo</h3>
      </div>
    {% endblock %}

    {% block content %}
    
    <div class='image_selection'>



    </div>
    <div class="wait_message"></div>
    
    <script type="text/javascript" src="{{ url_for('static',    filename='js/major.js') }}"></script>

    {% endblock %}
  
</body>

</html>